<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Spotify Search</title>
    <link href="test.css" rel="stylesheet">
</head>
<body>
<div id="searchForm">
    <form method="post">
        <div id="searchDiv">
            <label>
                <input id="search-value" required type="text">
                <ul>
                    <li s>s</li>
                    <li e>e</li>
                    <li a>a</li>
                    <li r>r</li>
                    <li c>c</li>
                    <li h>h</li>
                </ul>
            </label>
        </div>
        <input hidden type="submit" value="submit">
    </form>
</div>
<div id="searchResult">
    <div id="searchContainer">
        <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
    </div>
</div>

</body>
</html>