* {
    /*box-sizing: border-box;*/
    /*border: blue 1px solid;*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Knewave", cursive;
    overflow: hidden;
    background-image: linear-gradient(to right, pink, purple, violet, black, blue, green, orange, red);
}


h2 {
    text-decoration: underline;
}

#searchResult {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#searchResult #searchContainer {
    height: 100%;
    width: 100%;
    display: flex;
    /*padding: 15px;*/
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    font-family: "Knewave", cursive;
    letter-spacing: 2px;
    overflow-y: scroll;
}


#searchForm {
    height: 20%;
    width: 20%;
    margin-top: 5%;
}

#searchResult #searchContainer ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#searchResult #searchContainer ul li {
    padding: 5px;
    margin: 5px;
    height: 100px;
    border: 2px solid black;
}


form {
    width: 100%;
}

#searchDiv {
    width: 100%;
}


label {
    width: 100%;
    /*max-width: 700px;*/
}

#searchDiv input {
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 58px;
    /*transform: skew(-3deg, 1deg);*/
    font-family: "Knewave", cursive;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
}

#searchDiv input:focus, input:valid {
    outline: none;
}

#searchDiv input:focus ~ ul li:nth-child(1)::before, input:valid ~ ul li:nth-child(1)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(1)::after, input:valid ~ ul li:nth-child(1)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(2)::before, input:valid ~ ul li:nth-child(2)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(2)::after, input:valid ~ ul li:nth-child(2)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(3)::before, input:valid ~ ul li:nth-child(3)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(3)::after, input:valid ~ ul li:nth-child(3)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(4)::before, input:valid ~ ul li:nth-child(4)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(4)::after, input:valid ~ ul li:nth-child(4)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(5)::before, input:valid ~ ul li:nth-child(5)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(5)::after, input:valid ~ ul li:nth-child(5)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(6)::before, input:valid ~ ul li:nth-child(6)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#searchDiv input:focus ~ ul li:nth-child(6)::after, input:valid ~ ul li:nth-child(6)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#searchDiv input:focus ~ ul li:nth-child(1)::after, input:valid ~ ul li:nth-child(1)::after {
    transition-delay: 400ms;
}

#searchDiv input:focus ~ ul li:nth-child(2)::after, input:valid ~ ul li:nth-child(2)::after {
    transition-delay: 600ms;
}

#searchDiv input:focus ~ ul li:nth-child(3)::after, input:valid ~ ul li:nth-child(3)::after {
    transition-delay: 800ms;
}

#searchDiv input:focus ~ ul li:nth-child(4)::after, input:valid ~ ul li:nth-child(4)::after {
    transition-delay: 1000ms;
}

#searchDiv input:focus ~ ul li:nth-child(5)::after, input:valid ~ ul li:nth-child(5)::after {
    transition-delay: 1200ms;
}

#searchDiv input:focus ~ ul li:nth-child(6)::after, input:valid ~ ul li:nth-child(6)::after {
    transition-delay: 1400ms;
}

#searchDiv label {
    position: relative;
}

#searchDiv ul {
    position: absolute;
    top: 38px;
    left: -4px;
    margin: 0;
    list-style: none;
    padding-left: 22px;
    display: flex;
    pointer-events: none;
    transition: 200ms;
}

#searchDiv ul li {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    pointer-events: none;
    transition: 500ms ease-in-out;
}

#searchDiv ul li ::selection {
    color: transparent;
}

#searchDiv ul li::after, ul li::before {
    color: black;
    position: absolute;
    transition: 500ms ease-in-out;
}

#searchDiv ul li::before {
    top: -20px;
}

#searchDiv ul li::after {
    top: -63px;
    transform: scale(0) rotate(210deg);
    filter: blur(20px);
}

#searchDiv ul li[s]::before {
    content: attr(s) "s";
    transition-delay: 200ms;
}

#searchDiv ul li[s]::after {
    content: attr(s) "s";
    left: 12px;
    color: #666;
}

#searchDiv ul li[e]::before {
    content: attr(e) "e";
    transition-delay: 400ms;
}

#searchDiv ul li[e]::after {
    content: attr(e) "e";
    left: 24px;
    color: #666;
}

#searchDiv ul li[a]::before {
    content: attr(a) "a";
    transition-delay: 600ms;
}

#searchDiv ul li[a]::after {
    content: attr(a) "a";
    left: 36px;
    color: #666;
}

#searchDiv ul li[r]::before {
    content: attr(r) "r";
    transition-delay: 800ms;
}

#searchDiv ul li[r]::after {
    content: attr(r) "r";
    left: 48px;
    color: #666;
}

#searchDiv ul li[c]::before {
    content: attr(c) "c";
    transition-delay: 1000ms;
}

#searchDiv ul li[c]::after {
    content: attr(c) "c";
    left: 60px;
    color: #666;
}

#searchDiv ul li[h]::before {
    content: attr(h) "h";
    transition-delay: 1200ms;
}

#searchDiv ul li[h]::after {
    content: attr(h) "h";
    left: 72px;
    color: #666;
}